body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.top-bar {
  background-color: rgb(8, 46, 128);

  color: #fff;
  padding: 10px;
  height: 6%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 

}
.top-bar >img
{
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.top-bar > button
{
  vertical-align: middle;
  width: 60px;
  height: 30px;
  border-radius: 40px;
}
.top-bar > button:hover {
  background-color: #04eaea; 
  cursor: pointer;
}
.side-menu {
  width: 15%;
  background-color: #3951a7c4;
 
  color: #fff;
  padding: 10px;
  height: 94%;
  overflow-y: auto;
  float: left;
  margin-right: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin-left: 8px;
  margin-bottom: 10px;
}

.main-content {
  padding: 10px;
  float: left;
  height: 100%;
  width: 82%;
}
.main-body {
  height: 100%;
  width: 100%;
}


.side-menu > ul 
{
  height: 50%;
  width: 100%;
  margin-left: 0;
}
.side-menu > ul > .head
{
  background-color:#203683;
  border-radius: 5px;
  height: 10%;
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-menu > ul > li
{
  background-color: #0b8ed4;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  
  width: 100%;
  height: 50px;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.side-menu > ul > li >a
{
  text-decoration: none;
  color: white;
  margin-left: 20px;

}

.page1,.page2
{
  height: 100%;
  width: 100%;
  background-color: rgb(229, 229, 229);
  float: left;
}
.page1 > h1, .page2 >h1
{
  text-align: center;
}