body
{
  margin: 0;
  padding: 0;
  background-image: url(wallpaper/violet.png);
  background-size: cover ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;

}
*::-webkit-scrollbar
{
  display: none;
}
body::before {
  content: "";
  background-image: inherit;
  filter: blur(50px); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.top-bar {
  background-color: rgb(8, 46, 128);;
  color: #fff;
  padding: 10px;
  height: 5%;
  border-bottom: 2px solid rgb(180, 180, 180) ;

}
.top-bar >img
{
  vertical-align: middle;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.side-menu {
  width: 18%;
  background-color: #3951a7c4;
  color: #fff;
  height: 90%;
  overflow-y: auto;
  float: left;
  margin-right: 0;
}



.main-content {
  padding: 10px;
  float: left;
  padding-top: 0;
  height: 100%;
  width: 100%;
  
}
.main-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-menu li {
  margin-left: 8px;
  margin-bottom: 0px;
}
.side-menu   .sub_tree > li {
  margin-left: 8px;
  margin-top: 20px;
}

.side-menu > ul 
{
  height: 50%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0px;
  letter-spacing: 1px;
}
.side-menu > ul > .head
{
  color: #ffffff;
  background: #203683;
  height: 10%;
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.side-menu > ul > .option
{
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-left: 10px;
  font-size: 18;
  display: flex;
  background-color: #ffffff;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: black;
}
.side-menu > ul > .option:last-child
{
}
.option > span
{
  margin-left: 20px;
  cursor: pointer;
}
.option  a
{
  color: black !important;
  height: 65px !important;
}

.icon.active .down
{
  transform: translateY(-3px);
  rotate: -180deg;
}
.icon .down
{
  rotate: -90deg;
  transform: translateX(-3px);
  transition: all .2s ease-in-out;
}


.sub_tree > li > a
{
  text-decoration: none;
  color: #ffffff;
}
.sub_tree.active
{
  display: flex;
  opacity: 1;
  flex-direction: column;
}
.sub_tree
{
  opacity: 0;
  display: none;
  transition: all .3s ease-in-out;
}
.side-menu > ul > li >a
{
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

}


.Bashboard > .data1 > .employee_att > .att_sub_div1 > table ,
.Employees > .data2 > .employee_detail > table,
.Designation > .des_data > .des_detail > table,
.calendar > .cal_data > .cal_detail > table,
.Attendance > .Daily_att > .Daily_att_sub > table,
.Attendance_M > .Monthly_att > .Monthly_att_sub > table,
.Payrolls > .payrolls_details > .payrolls_details_sub > table,
.per_att_table > table,
.EMP_HOME > .data1 > .employee_att > .att_sub_div1 > table,
.perAttendance_M > .Monthly_att >.Monthly_att_sub > table,
.per_Payrolls > .payrolls_details > .payrolls_details_sub > table,
.holidays > .holi_data > .holi_detail > table
{
  border-collapse: collapse;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.per_att_table > table
{
  background-color: transparent;
}
.per_att_table > table > thead
{
  color: white !important;
}
.Bashboard > .data1 > .employee_att > .att_sub_div1 > table > thead,
.Employees > .data2 > .employee_detail > table >thead,
.Designation > .des_data > .des_detail > table > thead
.calendar > .cal_data > .cal_detail > table >thead,
.Attendance > .Daily_att > .Daily_att_sub > table > thead,
.Attendance_M > .Monthly_att > .Monthly_att_sub > table >thead,
.Payrolls > .payrolls_details > .payrolls_details_sub > table >thead,
.per_att_table > table > thead,
.EMP_HOME > .data1 > .employee_att > .att_sub_div1 > table > thead,
.perAttendance_M > .Monthly_att >.Monthly_att_sub > table > thead,
.per_Payrolls > .payrolls_details > .payrolls_details_sub > table > thead,
.holidays > .holi_data > .holi_detail > table > thead
{
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  border-spacing: 0;
}
.per_att_table > table > thead
{
  height: 40px;
}

.Bashboard > .data1 > .employee_att > .att_sub_div1 > table > tbody,
.Employees > .data2 > .employee_detail > table >tbody,
.Designation > .des_data > .des_detail > table > tbody,
.calendar > .cal_data > .cal_detail > table > tbody,
.Attendance > .Daily_att > .Daily_att_sub > table > tbody,
.Attendance_M > .Monthly_att > .Monthly_att_sub > table >tbody,
.Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody,
.EMP_HOME > .data1 > .employee_att > .att_sub_div1 > table > tbody,
.perAttendance_M > .Monthly_att >.Monthly_att_sub > table > tbody,
.per_Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody,
.holidays > .holi_data > .holi_detail > table > tbody
{
  
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  border-spacing: 0;
  box-sizing: border-box;
}
.Bashboard > .data1 > .employee_att > .att_sub_div1 > table > tbody > tr,
.Employees > .data2 > .employee_detail > table >tbody >tr,
.Designation > .des_data > .des_detail > table > tbody > tr,
.calendar > .cal_data > .cal_detail > table > tbody > tr,
.Attendance > .Daily_att > .Daily_att_sub > table > tbody > tr,
.Attendance_M > .Monthly_att > .Monthly_att_sub > table >tbody >tr,
.Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody >tr,
.EMP_HOME > .data1 > .employee_att > .att_sub_div1 > table > tbody > tr,
.perAttendance_M > .Monthly_att >.Monthly_att_sub > table > tbody > tr,
.per_Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody >tr,
.holidays > .holi_data > .holi_detail > table > tbody > tr
{
  background-color: rgb(252, 252, 252);
  height: 60px;
}
.Bashboard > .data1 > .employee_att > .att_sub_div1 > table > tbody > tr:nth-child(odd),
.Employees > .data2 > .employee_detail > table >tbody >tr:nth-child(odd),
.Designation > .des_data > .des_detail > table > tbody > tr:nth-child(odd),
.calendar > .cal_data > .cal_detail > table > tbody > tr:nth-child(odd),
.Attendance > .Daily_att > .Daily_att_sub > table > tbody > tr:nth-child(odd),
.Attendance_M > .Monthly_att > .Monthly_att_sub > table >tbody>tr:nth-child(odd),
.Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody >tr:nth-child(odd),
.EMP_HOME > .data1 > .employee_att > .att_sub_div1 > table > tbody > tr:nth-child(odd),
.perAttendance_M > .Monthly_att >.Monthly_att_sub > table > tbody > tr:nth-child(odd),
.per_Payrolls > .payrolls_details > .payrolls_details_sub > table > tbody >tr:nth-child(odd),
.holidays > .holi_data > .holi_detail > table > tbody > tr:nth-child(odd)
{
  background-color: rgb(222, 222, 222);
}

.Attendance_M > .head > form,
.Attendance > .head > form,
.Payrolls > .head > form,
.Employees > .head > form,
.Designation > .head > form,
.calendar > .head > form,
.EMP_HOME > .head > form,
.perAttendance_M > .head > form,
.per_Payrolls > .head > form,
.holidays > .head > form
{
  height: 100%;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
}
.main_form > .emp_details > .form_div > input,
.main_form > .emp_details > .form_div > select,
.main_form > .designation_add >.form_div> select,
.main_form > .designation_add >.form_div> input,
.main_form >.desc_details >.form_div > input,
.main_form >.cal_details >.form_div > select,
.main_form >.cal_details >.form_div > input,
.Attendance_M > .head > form > input,
.Attendance > .head > form > input,
.Payrolls > .head > form > input,
.Employees > .head > form > input,
.Designation > .head > form > input,
.calendar > .head > form > select,
.EMP_HOME > .head > form > input,
.perAttendance_M > .head > form > select,
.per_Payrolls > .head > form > select,
.holidays > .head > form > input
{
  box-sizing: border-box;
  font: inherit;
  font-family: inherit;
  display: block;
  width: 50%;
  float: left;
  height: 25px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  color: #333;
  border-color: #d2d6de;
  text-align: center;

}
.Attendance_M > .head > form > input,
.Attendance > .head > form > input,
.Payrolls > .head > form > input,
.Employees > .head > form > input,
.Designation > .head > form > input,
.calendar > .head > form > select,
.perAttendance_M > .head > select,
.EMP_HOME > .head > form > input,
.perAttendance_M > .head > form > select,
.per_Payrolls > .head > form > select,
.holidays > .head > form > input
{
  width: 200px;
  height: 30px;
  margin-right: 5px;
}


.Bashboard > .head, 
.Employees > .head,
.Designation > .head,
.calendar > .head,
.Attendance > .head,
.Attendance_M > .head,
.Payrolls > .head,
.EMP_HOME > .head,
.perAttendance_M > .head,
.per_Payrolls > .head,
.holidays > .head
{
  height: 60px;
  width: 84%;
  background-color: rgba(255, 255, 255, 0.852);
  border-bottom: 2px solid black ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.EMP_HOME > .head,
.perAttendance_M > .head,
.per_Payrolls > .head
{
  width: 82.5%;
}

.Employees > .head > a> button,
.Bashboard > .head > a> button,
.Designation > .head > a> button,
.calendar > .head > a> button,
.Attendance_M > .head > a >button,
.Payrolls > .head > a > button,
.Attendance > .head > a >button,
.holidays > .head > a> button
{
  background-color: #3c8dbc;
  margin-left: 20px;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border-color: #367fa9;
}

.update_empin
{
  background-color: transparent;
  width: 100%;
  height: 92%;
  text-align: center;
  border-radius: 20px;
  transition: all .3s ease-in;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update_empin > .update_form
{
  height: 98%;
  width: 90%;
  display: flex;
  justify-content: center;
}
.update_empin > .update_form > .emp_details_view
{
  height: fit-content;
  width: 90%;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}


 .profile
{
  height: 530px;
  border-radius: 20px;
  background-color: white;
  width: 230px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  border-bottom: 5px solid black;
}
.profile > h2
{
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
.profile > img
{
  height: 170px;
  width: 170px;
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid black;
}
.profile > .id_show
{
  background-color: #89CCFC;
  width: 120px;
  color: white;
  height: 30px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;

}
.profile > .Desc_show
{
  background-color: #EDD0D0;
  width: 200px;
  color: rgb(0, 0, 0);
  height: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;
}
.profile > .Desc_show > h4
{
font-size: 9px;
margin-bottom: 0;
margin-top: 0;
}
.emp_details_view>.header_view 
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emp_details_view>.header_view > h1
{
  color: white;
  background-color: rgba(0, 0, 0, 0.327);
  height: 40px;
  width: 400px;
  border-radius: 20px;
}
 .data_edit
{
  height: 560px;
  border-radius: 20px;
  width: 700px;
  margin-left: 30px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.data_edit > .data_1,
.data_edit > .data_2
{
  width: 650px;
  margin-top: 0;
  height: 220px;
  background-color: rgba(130, 130, 130, 0.696);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.data_edit > .data_2
{
  height: 280px;
}
.emp_details_view > .header_view > a
{
  text-decoration: none;
  font-size: 30px;
  height: 50px;
  width: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
 .data_edit > .data_1 > h3,
.data_edit > .data_2 > h3
{
  margin-left: 10px;
  margin-top: 6px;
  color: white;
}
.Buttons_bar
{
  height: 30px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.Buttons_bar >a> button 
{
  height: 30px;
  width: 100px;
  margin-top: -5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 2px solid white;
  transition: all .1s ease-in-out;
}

.Buttons_bar >a> button:hover
{
  transform: translateY(-2px);
}
.Buttons_bar >a> button:active
{
  transform: translateY(2px);
}

.data_edit > .data_1 > .bar_le,
.data_edit > .data_2 > .bar_le,
.data_edit > .data_1 > .sub_div
{
  float: left;
  box-shadow: 3px 3px 5px #000000;
  background-color: white;
  height: 50px;
  width: 600px;
  margin-bottom: 30px;
  margin-left: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.data_edit > .data_1 > .sub_div
{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: none;
}
.data_edit > .data_1 > .bar_le > label,
.data_edit > .data_2 > .bar_le > label,
.data_edit > .data_1  > .sub_div > .DOB > label,
.data_edit > .data_1  > .sub_div > .Gender > label
{
  float: left;
  margin-left: 20px;
  margin-top: 4px;
  font-size: 14px;
  width: auto;
}
.data_edit > .data_1 > .bar_le > h6,
.data_edit > .data_2 > .bar_le > h6,
.data_edit > .data_1  > .sub_div > .DOB > h6,
.data_edit > .data_1  > .sub_div > .Gender > h6
{
  height: 100%;
  width: 100%;
  text-align: start;
  font-size: 25px;
  margin-top: -3px;
  margin-left: 40px;
}




.data_edit > .data_1 > .sub_div > .DOB,
.data_edit > .data_1 > .sub_div > .Gender
{
  box-shadow: 3px 3px 5px #000000;
  background-color: white;
  height: 50px;
  width: 280px;
  float: left;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
